<div class="container d-flex justify-content-center align-items-center">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()"  *ngIf="isLoggedIn() && Role ==='admin'; else userContent">
     <h2 class="text-center">Edit Product </h2>
    <div class="form-group mb-2">
      <label> Product</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="form-group mb-2">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group mb-2">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" />
    </div>

    <div class="form-group mb-2">
      <label>Quantity</label>
      <input type="number" class="form-control" formControlName="quantity" />
    </div>

<div class="form-group mb-2">
  <label>Category</label>
  <select class="form-control" formControlName="category" >
    <option *ngFor="let cat of categories" [value]="cat._id">
      {{ cat.name }}
    </option>
  </select>
</div>

    <div class="form-group mb-3">
      <label> Image</label><br>
        <img *ngIf="product?.image" [src]=" product.image" width="50" height="50" 
       class="rounded shadow-sm" alt="Product Image"><br>
      <input type="file" (change)="onFileSelected($event)" />
     
    </div>

    <button type="submit" class="btn btn-success w-100 ">Update</button>
  </form>

    <ng-template #userContent>
     <app-not-found></app-not-found>
  </ng-template>
</div>
